<!DOCTYPE html>
    <html lang="pl">
        <head>
            <meta charset="UTF-8">
            <title>Blog do nauki tworzenia stron www</title>
        </head>

<body>
    <div>
        <h1>Witam na stronie bloga!</h1>
        <h2>Strona utworzona podczas nauki htm, python, django</h2>
        <h3>Autor: Krzysiek</h3>
        <h4>Wszystkie prawa zastrzeżone</h4>
    </div>
    <div>
        <p>To jest akapit</p>
        <em>To jest wyróżniony tekst</em><br>
        <strong>Tu jest pogrubiony tekst</strong><br>
        <a href="https:\\www.sport.pl">SPORT</a>
    </div>
    <div>
        <ul>
            <li>Element listy</li>
            <li>Element listy</li>
            <li>Element listy</li>
        </ul>
    </div>

</body>
</html>